<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Todo_List</title>
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">MyTasks</div>

            <div class="user-info">
                <span>John Doe</span>
                <div class="avatar">
                    <img src="https://www.shutterstock.com/image-vector/user-circle-isolated-icon-round-600nw-2459622791.jpg" alt="User Avatar">
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
