@section Styles {
    <link rel="stylesheet" href="~/css/calender.css" />
}
<main>
    <!-- Calendar -->
    <div class="calendar-container">
        <div class="calendar-header">
            <div class="calendar-header">
                <i class='bx bx-chevron-left' id="prev"></i>
                <h2 id="monthYear"></h2>
                <i class='bx bx-chevron-right' id="next"></i>
            </div>
        </div>
        <div class="calendar-days">
            <div>CN</div>
            <div>T2</div>
            <div>T3</div>
            <div>T4</div>
            <div>T5</div>
            <div>T6</div>
            <div>T7</div>
        </div>
        <div id="calendar"></div>
    </div>

    <!-- Todo List -->
    <div class="todo-container">
        <h2 class="todo-title">Công Việc Của Tôi</h2>
        <div class="task-card">
            <div class="task-header">
                <p class="task-name">Hoàn thành báo cáo</p>
                <span class="task-status done">Hoàn thành</span>
            </div>
            <p class="task-date">Ngày: 2025-10-02</p>
            <p class="task-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat....</p>
        </div>
    </div>
</main>

@section Scripts {
    <script src="~/js/calender.js"></script>
}