@section Styles {
    <link rel="stylesheet" href="~/css/form.css" />
}
<main>
    <div class="task-detail-container">
        <h2 class="detail-title">Chi Tiết Công Việc</h2>

        <div class="detail-group">
            <label>Tiêu đề:</label>
            <p class="detail-text">Học ASP.NET Core MVC</p>
        </div>

        <div class="detail-group">
            <label>Mô tả:</label>
            <p class="detail-text">
                Hoàn thành bài tập thực hành CRUD trong ASP.NET Core MVC.
            </p>
        </div>

        <div class="detail-group">
            <label>Ngày đến hạn:</label>
            <p class="detail-text">2025-10-10</p>
        </div>

        <div class="detail-group">
            <label>Trạng thái:</label>
            <span class="status-badge done">Hoàn thành</span>
        </div>

        <div class="detail-btns">
            <a href="#" class="btn-edit">Chỉnh sửa</a>
            <a href="#" class="btn-back">Quay lại</a>
        </div>
    </div>

</main>
