@section Styles {
    <link rel="stylesheet" href="~/css/form.css" />
}
<main>
    <div class="task-edit-container">
        <h2 class="form-title">Cập Nhật Công Việc #</h2>
        <form class="task-form">

            <!-- Tiêu đề -->
            <div class="form-group">
                <label for="taskTitle">Tiêu đề:</label>
                <input type="text" id="taskTitle" name="taskTitle" placeholder="Nhập tiêu đề" required>
            </div>

            <!-- Mô tả -->
            <div class="form-group">
                <label for="taskDesc">Mô tả:</label>
                <textarea id="taskDesc" name="taskDesc" rows="8" placeholder="Nhập mô tả..."></textarea>
            </div>

            <!-- Ngày đến hạn -->
            <div class="form-group">
                <label for="taskDate">Ngày đến hạn:</label>
                <input type="date" id="taskDate" name="taskDate" required>
            </div>

            <!-- Checkbox -->
            <div class="form-group">
                <label>Status:</label>
                <div class="radio-group">
                    <label><input type="radio" name="status" value="done"> Hoàn thành</label>
                    <label><input type="radio" name="status" value="progress"> Đang thực hiện</label>
                    <label><input type="radio" name="status" value="pending"> Chưa bắt đầu</label>
                </div>
            </div>

            <!-- Submit -->
            <div class="form-btn">
                <button type="submit" class="btn-submit">Lưu</button>
                <a href="#" class="btn-cancle">Hủy</a>
            </div>
        </form>
    </div>
</main>