@model Todo_List.ViewModels.RegisterModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Todo_List</title>
    <link rel="stylesheet" href="~/css/auth.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="form-box">
            <h1>Đăng Ký</h1>
            <form asp-action="Register" method="post">
                <div class="input-box">
                    <input asp-for="Username" type="text" placeholder="Tên đăng nhập" />
                    <i class="bx bxs-user"></i>
                </div>
                <span asp-validation-for="Username" class="text-danger"></span>

                <div class="input-box">
                    <input asp-for="Email" type="text" placeholder="Email" />
                    <i class="bx bxs-envelope"></i>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>

                <div class="input-box">
                    <input asp-for="Password" type="password" placeholder="Mật khẩu" />
                    <i class="bx bxs-lock-alt"></i>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>

                <div class="input-box">
                    <input asp-for="ConfirmPassword" type="password" placeholder="Xác nhận mật khẩu" )" />
                    <i class="bx bxs-lock-alt"></i>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                <div class="forgot-link">
                    <a href="#">Quên mật khẩu?</a>
                </div>
                <button type="submit" class="btn">Đăng Ký</button>
                <p>Hoặc đăng ký bằng mạng xã hội</p>
                <div class="social-icons">
                    <a href="#"><i class="bx bxl-google"></i></a>
                    <a href="#"><i class="bx bxl-facebook"></i></a>
                    <a href="#"><i class="bx bxl-github"></i></a>
                    <a href="#"><i class="bx bxl-linkedin"></i></a>
                </div>
            </form>
        </div>
        <div class="panel register">
            <h1>Xin chào!</h1>
            <p>Bạn đã có tài khoản?</p>
            <a asp-controller="Task" asp-action="login">Đăng Nhập</a>
        </div>
    </div>
</body>
</html>