@section Styles {
    <link rel="stylesheet" href="~/css/todolist.css" />
}
<main>
    <div class="task-container">
        <!-- Header of Task List -->
        <div class="task-header">
            <div class="task-add">
                <h2>Danh sách công việc</h2>
                <a href="#" class="btn">+ Thêm công việc</a>
            </div>
            <div class="task-search">
                <div class="task-search-input">
                    <i class='bx bx-search'></i>
                    <input type="text" placeholder="Tìm kiếm công việc...">
                </div>
                <div class="task-search-buttons">
                    <button class="btn"><i class='bx bx-calendar'></i> Lịch</button>
                    <button class="btn"><i class='bx bx-sort-up'></i> Sắp xếp theo ngày</button>
                    <div class="sort-status-wrapper">
                        <button class="btn dropdown-toggle">
                            <i class='bx bx-task'></i> Sắp xếp theo trạng thái
                        </button>
                        <div class="dropdown-status">
                            <button data-status="in-progress">Đang thực hiện</button>
                            <button data-status="done">Hoàn thành</button>
                            <button data-status="not-done">Chưa thực hiện</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Task List -->
        <div class="task-list">
            <div class="task-box">
                <div class="task-box-title">
                    <span>#1: Thiết kế giao diện</span>
                    <i class='bx bx-dots-vertical-rounded dropdown-toggle'></i>
                    <div class="dropdown">
                        <a href="#" class="">Chỉnh sửa</a>
                        <a href="#" class="">Chi tiết</a>
                        <a href="#" class="">Xóa</a>
                    </div>
                </div>
                <div class="task-info">
                    <div class="task-status progress">Đang thực hiện</div>
                    <div class="task-date">2025-10-05</div>
                </div>
                <div class="task-desc">
                    Tạo wireframe và mockup ban đầu cho trang chủ......
                </div>
            </div>
            <div class="task-box">
                <div class="task-box-title">
                    <span>#2: Thiết kế giao diện</span>
                    <i class='bx bx-dots-vertical-rounded dropdown-toggle'></i>
                    <div class="dropdown">
                        <a href="#" class="">Chỉnh sửa</a>
                        <a href="#" class="">Chi tiết</a>
                        <a href="#" class="">Xóa</a>
                    </div>
                </div>
                <div class="task-info">
                    <div class="task-status done">Hoàn thành</div>
                    <div class="task-date">2025-10-05</div>
                </div>
                <div class="task-desc">
                    Tạo wireframe và mockup ban đầu cho trang chủ......
                </div>
            </div>
            <div class="task-box">
                <div class="task-box-title">
                    <span>#3: Thiết kế giao diện</span>
                    <i class='bx bx-dots-vertical-rounded dropdown-toggle'></i>
                    <div class="dropdown">
                        <a href="#" class="">Chỉnh sửa</a>
                        <a href="#" class="">Chi tiết</a>
                        <a href="#" class="">Xóa</a>
                    </div>
                </div>
                <div class="task-info">
                    <div class="task-status pending">Chưa thực hiện</div>
                    <div class="task-date">2025-10-05</div>
                </div>
                <div class="task-desc">
                    Tạo wireframe và mockup ban đầu cho trang chủ......
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <script src="~/js/todolist.js"></script>
}
